:root {
  background-color: #b1b88a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "B612", sans-serif;
}

.timer {
  width: 0;
  height: 5px;
  background-color: rgb(78, 7, 7);
}

.ready {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.pause {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  user-select: none;
}

.hardLuck {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  user-select: none;
}

.gameOver {
  background-color: brown;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  font-size: 1rem;
  user-select: none;
}

.goodluck {
  width: 30vw;
  height: 60vh;
  box-shadow: 5px 5px 20px;
  transition: opacity 1s;
  background-color: #db4625;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
}

.pause-card {
  width: 30vw;
  height: 60vh;
  box-shadow: 5px 5px 20px;
  transition: opacity 1s;
  background-color: #db4625;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
}

.nice {
  width: 30vw;
  height: 60vh;
  box-shadow: 5px 5px 20px;
  transition: opacity 1s;
  background-color: #db4625;
  color: #ffffff;
  font-weight: bold;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.nice .retry {
  font-size: 2rem;
  position: absolute;
  bottom: 40px;
  right: 30%;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.nice .home {
  font-size: 2rem;
  position: absolute;
  bottom: 40px;
  left: 30%;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.hardLuck-card {
  width: 30vw;
  height: 60vh;
  box-shadow: 5px 5px 20px;
  background-color: #db4625;
  color: #ffffff;
  font-size: 1rem;
  padding: 100px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.hardLuck-card .retry {
  font-size: 2rem;
  position: absolute;
  bottom: 80px;
  right: 30%;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}
.hardLuck-card .home {
  font-size: 2rem;
  position: absolute;
  bottom: 80px;
  left: 30%;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.nice h1 {
  font-size: 4rem;
  align-self: center;
}

.wincont {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.win,
.lost,
.time {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.cards {
  width: 100vw;
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  overflow: hidden;
  z-index: 3;
}
.easy {
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}

.medium {
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
}

.hard {
  grid-template-columns: 16.6666667% 16.6666667% 16.6666667% 16.6666667% 16.6666667% 16.6666667%;
  grid-template-rows: 16.6666667% 16.6666667% 16.6666667% 16.6666667% 16.6666667% 16.6666667%;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front {
  width: 100%;
  height: 100%;
  background-color: #192a50;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  backface-visibility: hidden;
}

.back {
  width: 100%;
  height: 100%;
  background-color: #db4625;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: #ffffff;
  backface-visibility: hidden;
}

.flip,
.matched {
  transform: rotateY(180deg);
}

.hide {
  visibility: hidden;
}

.stop {
  pointer-events: none;
}

.show {
  visibility: visible;
}

@media (max-width: 600px) {
  .goodluck,
  .pause-card,
  .hardLuck-card,
  .nice {
    width: 70vw;
  }
  .card i {
    font-size: 3rem;
  }
}
