:root {
    background-color: #b1b88a;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'B612', sans-serif;
    user-select: none;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.cards {

    width: 40vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    overflow: hidden;
  
}


.firstcard , .therdcard ,.secondcard ,.forthcard {
    
    height: 100%;
    width: 100%;
    transition: transform 1s  , opacity .5s ;
    transform-style: preserve-3d;
    cursor: pointer;
    z-index: 0;
    box-shadow: 3px 0 ;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
   
}


 .f , .i , .p {
    width: 100%;
    height: 100%;
    font-size: 7em;
    text-align: center;
    background-color: #192A50;
    font-weight: bold;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    user-select: none;
  
} 
.f:hover,.i:hover,.p:hover{
    background-color: #1e3a79;

}

.l{
    width: 100%;
    height: 100%;
    background-color: #DB4625;
    transform: rotateY(180deg);
    font-size: 7em;
    text-align: center;
    font-weight: bold;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    user-select: none;

   
}

.backI  {
    width: 200%;
    height: 100%;
    position: absolute;
    background-color:#DB4625 ;
    top: 0;
    right: 0;
    color: #fff;
    padding: 15px 20px;
    transform: rotateY(180deg);  
    backface-visibility: hidden; 
    user-select: none;
  
}

.backI p {
    font-size: .9vw;
}

.backI h2 {
    font-size: 2vw;
}

.backF{
    width: 200%;
    height: 100%;
    position: absolute;
    background-color:#DB4625 ;
    top: 0;
    right: 0;
    color: #fff;
    padding: 15px 20px;
    transform: rotateY(180deg) ;
    backface-visibility: hidden; 
    user-select: none;
   
}

.backF div {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 10px;
} 

.backF div > div {
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
   
}

.backF div > div h4 {
    align-self: center; 
    font-size: 2vw;
}

.backF div > div h6 {
    margin-top: 10px;
    padding-left: 25px;
    font-size: .8vw;
}





 .backP {
    background-color:#DB4625 ;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    padding: 0px ;
    transform: rotateY(180deg); 
    backface-visibility: hidden; 
    
   
} 

.backP a {
    display: block;
    text-decoration: none;
    color: #fff;
    width: 100%;
    text-align: center;
    height: 33.333%;
    padding: 20px 20px;
    font-size: 1.5vw;
    
}
.backP a:hover {
    background-color: #842a16;
}

.backP a:focus{
    background-color: #842a16;
}

.flip {
    transform: rotateY(180deg); 
}

.hide {
   opacity: 0;
}

